<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="header.css">
    <title>Blog: Only Header</title>
</head>
<body>
    
    <header>
        <h1>Vida Saludable</h1> 
        <nav>
            <a href="/../../src/pages/home/home.html">Inicio</a>
            <a href="/../../src/pages/home/about.html">Quienes somos</a>
            <a href="/../../src/pages/home/contact.html">Contacto</a>
        </nav>
    </header>

</body>
</html>